.buttons-section{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 5px;
  align-items: center;
  justify-items: center;
  padding: 5px;
  /* border: solid 1px gray; */
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 30px; 
}

.category-button{
  font-family: inherit;
  cursor: pointer;
  background-color: #EFEEEE;
  color: #4a4949;
  border-radius: 30px;
  padding: 8px 10px; 
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.category-button:hover{
  background-color: #ff6461;
  color: white;
}

.button-selected{
  font-family: inherit;
  cursor: pointer;
  background-color: #ff6461;
  color: white;
  border-radius: 30px;
  padding: 8px 10px; 
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.02);
}