/* Social media icons */
footer {
  position: static;
  bottom: 0;
  width: 100%;
}

.social-container {
  bottom: 0;
  padding: 10px;
  width: 70%;
  margin: auto;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.twitter,
a.facebook,
a.instagram {
  color: #ff6461;
  padding: 3px;
}

.powered-text {
  font-size: 0.7rem;
  color: #df5856;
}
