.main-product-info {
  display: flex;
  background-color: whitesmoke;
  border: solid 1px red;
  width: 100%;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
}

.image-section {
  background-color: lavender;
  border: solid 1px blue;
  width: 40%;
  margin-right: 20px;
}

.product-images {
  background-image: url(https://tinyurl.com/y323okpr);
  background-repeat: round;
  border: solid 1px gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.main-data {
  flex-direction: column;
}

.allergens-section {
  display: inline-flex;
}

.allergen-icon {
  margin: 5px 8px;
}

/* this CSS is just to identify the items - it will be changed */
/* div{
  border-bottom: solid 0.5px lightgray;
} */

.secondary-info {
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.contents-icon {
  background-color: #dbff75;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.novascore p:nth-child(2) {
  background-color: lightslategray;
  width: 80px;
  height: 100px;
  margin: 5px;
}
