// .product-details-container {
//   border: solid 1px blue;
// }

.details-box {
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  margin: 0 auto 10px;
  height: fit-content;
  border-radius: 4px;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 10px 10px 20px -15px rgba(117, 116, 117, 0.65);
}

// .main-product-info {
//   to be added
// }

.secondary-product-info {
  display: flex;
  // border: solid 1px blue;
}

.image-section {
  background-color: lavender;
  border: solid 1px blue;
  width: 40%;
  margin-right: 20px;
}

.product-images {
  background-image: url(https://tinyurl.com/y323okpr);
  background-repeat: round;
  border: solid 1px gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.main-data {
  flex-direction: column;
}

.icons-section {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.detailpage-icon {
  margin: 5px;
}
// Contains Tooltip
.detailpage-icon .tooltiptext {
  color: white;
  visibility: hidden;
  width: 120px;
  background-color: rgba(43, 43, 43, 0.913);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.detailpage-icon:hover .tooltiptext {
  visibility: visible;
}

/* this CSS is just to identify the items - it will be changed */
/* div{
  border-bottom: solid 0.5px lightgray;
} */

// .novascore p:nth-child(2) {
//   background-color: lightslategray;
//   width: 80px;
//   height: 100px;
//   margin: 5px;
// }

h4 {
  color: #b94f4d;
}

// Styles Nutrient levels
.nutrient-levels {
  width: 30%;
  box-sizing: border-box;
  p {
    display: inline-block;
    text-align: left;
    width: 120px;
    font-weight: bold;
  }
  li {
    list-style: none;
    margin: 2px;
  }
}

.nutrient-fact {
  display: inline-block;
  width: 4.3rem;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  text-align: center;
  background-color: #1c47b5;
  &.high {
    background-color: #ff4b3a;
  }
  &.moderate {
    background-color: #efb60e;
  }
  &.low {
    background-color: #39b54a;
  }
}

//Styles Contains section

.contains-ingredients {
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .details-box {
    flex-direction: column;
  }
  .contains-ingredients {
    width: 100%;
  }
  .nutrient-levels {
    width: 100%;
  }
}
