/* .root{
  --bittersweet: #ff6461ff;
  --medium-sea-green: #44af69ff;
  --blue-munsell: #2b9eb3ff;
  --honey-yellow: #ffb30fff;
} */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AllPages {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: auto;
}

.AllPages li {
  display: inline-block;
}

.search-bar{
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.65);
  width: 200px;
  margin-bottom: 30px;
  margin-left: 0;
}

.search-button{
  background-color: lightcoral;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.65);
  width: 80px;
  margin: 5px;
}