.root {
  --main-color: #ff6461;
  --medium-sea-green: #44af69ff;
  --blue-munsell: #2b9eb3ff;
  --honey-yellow: #ffb30fff;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AllPages {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: auto;
}

.AllPages li {
  display: inline-block;
}

.details-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}
